@font-face {
    font-family: Arcade;
    src: url('../assets/font/ARCADE_N.TTF');
  }

* {
    margin: 0;
    font-family: Arcade, Helvetica, Arial, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game-info img {
    width: 100%;
    border-radius: 0 0 10px 10px;
}

#game-info .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    color: white;
    transform: translateX(-50%);
}

#game-info .content p {
    padding: 0 4em;
    font-weight: 100;
    line-height: 1.5em;
    text-align: justify;
    text-transform: uppercase;
}

#game-info .content button {
    padding: .5em 2em;
    margin: 2em 0;
    border: 0;
    border-radius: 2em;
    text-transform: uppercase;
}

#game, #game-info {
    width: 700px;
    height: 700px;
    position: relative;
}

#info {
    max-width: 100%;
    height: 3em;
    padding: 0 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background: #151922;
    border-radius: 10px 10px 0 0;
}

#info label {
    font-weight: bold;
}

#info button {
    border: none;
    margin: 0 .5em;
    color: white;
    font-size: 1.3em;
    background: transparent;
}

#space-invaders {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}