body {
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game {
    width: 700px;
    height: 700px;
}

#info {
    width: 100%;
    height: 3em;
    background: #151922;
    border-radius: 10px 10px 0 0;
}

#space-invaders {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}